@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Playwrite CU';
    src: url('./assets/font/Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./assets/font/Playwrite_CU,Poppins/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  
  